stages:
  - build

build:
  stage: build
  image: alpine:latest
  script:
    - bash scripts/setup-alpine.sh
    - cargo build --release
    - mkdir dist
    - elf2uf2-rs target/thumbv6m-none-eabi/release/{{project-name}} dist/{{project-name}}.uf2
  rules:
    - changes:
      - src/**/*.rs
      - .gitlab-ci.yml
      - Cargo.toml
      - Cargo.lock
  cache:
    key: ${CI_JOB_NAME}
    paths:
      - dist/{{project-name}}.uf2
  artifacts:
    paths:
      - dist/{{project-name}}.uf2
